@page "/"
@using System.IO
@using System.Net
@using Microsoft.AspNetCore.Components
@using Contracts
@inject HttpClient Http

    <h1>Сервис мониторинга мобильного приложения.</h1>

    <p>Select device</p>

